.key-square{
    width : 70px;
    height: 50px;
    background-color: rgb(100, 100,100);
    border : solid 2px black;
    opacity: 1;
}

.key-square:hover{
    cursor: pointer;
}

.key-square-text{
    width: 70px;
    height: 25px;
    padding-top: 2.0px;
    text-align: center;
}

.number{
    font-size: 25px;
}

.special_keys{
fill:rgb(100,100,100);
stroke:black;
stroke-width:3;
}

.special_keys:hover{
cursor: pointer;
}

.sp_line{
    stroke:white;
    stroke-width:3;
}

.sp_trans{
    opacity: 0;
}

.sp_trans:hover{
    cursor: pointer;
}