
.lcdscreen {
  /* background-color: #87AD34; */
  background-color: #93c24c;
  padding: 3px;
  width:340px;
}

.pixel {
  display: inline-block;
  /* background-color: #8BaF41; */
  background-color: #82b13b;
  height: 2px;
  width: 2px;
  margin-left: 0.5px;
  margin-top: 0.5px;
}

.pixel-on {
  background-color: #0b4233;
}

.letter {
  font-size: 0px;
  display: inline-block;
  margin-left: 1px;
  margin-right: 1px;
  width: 12.5px;
}

.LCDRow {
  display: block;
}



