:root{
    --bottom-margin : 10px;
}

body {
    background-color: grey;
    color: white;
    font-family: Arial, sans-serif;
}
.outer-container {
    display: flex;
}

.container {
    width: 220px;
    background-color: black;
    margin: 0 auto;
    padding: 10px;
}


.led {
    border: 1px solid white;
    position: relative;
    border-right : black;
    border-bottom: black;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

.led::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 15px solid var(--border-top-color, white);;
    border-right: 25px solid transparent; 
}

.led:hover{
    cursor: pointer;
}

.vr {
    width:73px;
    height: 25px;
    padding-top: 15px; 
    border-left: solid black 0px;
}

.vr-box {
    border: 1px solid white;
    border-right: black;
    border-bottom: black;
    height: 40px;
    display: flex;
    text-align: center;
    margin-bottom: var(--bottom-margin);
}

.name{
    width:200px;
    padding: 10px;
    text-align: center;
    margin-bottom: var(--bottom-margin);
}

.data-ports-box {
    border: 1px solid white;
    padding: 13px;
}

.headings  {
    margin-bottom: var(--bottom-margin);
}

.ports {
    display: flex;
    text-align: center;
}

.usb {
    padding: 10px;
    /* padding-bottom: 0px; */
}

.usb-port {
    border: 3px solid white;
    margin-top: 10px;
    width: 60px;
    height: 28px;
}

.usb-port-line {
    border: 3px solid white;
    width: 40px;
    margin-top: 11px;
    margin-left: 7px;
    /* margin:auto; */
}

.pc {
    padding : 10px;
    margin-left: 30px;
}

.ud-box {
    border: 1px solid white;
    border-right: black;
    border-bottom: black;
    height: 69px;
}

.ud {
    width:73px;
    height: 20px;
    padding-top: 10px;  
    border-left: black;
    
}

.ud-heading-box {
    border-radius: 5px;
    margin-left: 10px;
    border: solid gray;
    background-color: grey;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    
}

.com-box {
    display: flex;
    border: 1px solid white;
    border-right: black;
    border-bottom: black;
    margin-bottom: 10px;
}

.com {
    width:110px;
    padding-top: 10px;  
    border-left: black;
    padding: 12px;
    text-align: center;
}

.middle-container{
    display: flex;
}

.middle-box{
    border: 7px solid black;
    background-color: #393939;
    margin:10px;
    border-radius: 5px;
    text-align: center;
}

.super-drag-box {
    padding-top:20px;
    width:100px;
    height:70px;
}

.all-on-off-box{
    padding-top:10px;
    width:100px;
    height:30px;
}

.all-off::before{
    border-top: 15px solid var(--border-top-color, rgb(0, 255, 242));;
}